<div class="container">
  <h1 class="title">Password Generator</h1>
<div>
  <label class="length-label">Enter Length</label>
  <input class="length-input"  (input)="onChangeLength($any($event).target.value)" />
</div>
<div>
  <label class="checkbox">Include Alphabets</label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</div>
<div>
  <label class="checkbox">Include Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</div>
<div>
  <label class="checkbox">Include Special Characters</label>
  <input (change)="onChangeSpecial()" type="checkbox" />
</div>
<div>
  <button
   [disabled]="!(length && (includeLetters || includeSpecials || includeNumbers))"
  (click)="onButtonClick()"
  class="button">Generate</button>
</div>
<div class="password" *ngIf="password">
  <label>Your Password</label>
  <input class="password-input" type="text" [value]="password" readonly />
</div>
</div>
