.container {
    width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(17, 5, 5);
  
    .title {
      text-align: center;
    }
  
    .length-label {
      margin-top: 10px;
      padding-bottom: 3px;
      align-self: flex-start;
    }
  
    .checkbox {
        margin: 4px;
        align-self: flex-start;
    }
  
    .length-input {
      margin-top: 5px;
      margin-bottom: 10px;
      height: 30px;
      border: 1px solid rgb(180, 180, 180);
      border-radius: 5px;
      width: 100%;
      font-size: medium;
    }
  
    .button {
      margin: 20px 0px;
      width: 100%;
      height: 40px;
      border-radius: 5px;
      background-color: rgb(83, 83, 211);
      color: white;
      cursor: pointer;
    }
  
    .button:disabled {
      background-color: rgb(145, 145, 226);
      cursor: default;
    }
  
    .password {
      width: 90%;
      margin:10px auto;
      display: flex;
      flex-direction: column;
  
      .password-input {
        margin-top: 5px;
        margin-bottom: 10px;
        height: 30px;
        border: 1px solid rgb(180, 180, 180);
        border-radius: 5px;
        width: 100%;
        font-size: medium;
      }
    }
  }